In [1]:
import os
import pandas as pd

# Define the directory containing the CSV files
csv_dir = '.'  # or provide a full path like '/Users/yourname/data/'

# Get all CSV file names in the directory
csv_files = ['all_'+str(year)+'.csv' for year in range (2014,2026)]

csv_files_ps=['all_'+str(year)+'ps.csv' for year in range (2014,2026)]
csv_files=csv_files+csv_files_ps
# Initialize a list to hold DataFrames
dfs = []
print(csv_files)
# Loop through and read each file
for filename in csv_files:
    file_path = os.path.join(csv_dir, filename)
    try:
        df = pd.read_csv(file_path)
        dfs.append(df)
    except Exception as e:
        print(f"Could not read {filename}: {e}")

# Concatenate all DataFrames into one
if dfs:
    combined_df = pd.concat(dfs, ignore_index=True)
    print(f"Combined DataFrame shape: {combined_df.shape}")
else:
    print("No CSV files were loaded.")

['all_2014.csv', 'all_2015.csv', 'all_2016.csv', 'all_2017.csv', 'all_2018.csv', 'all_2019.csv', 'all_2020.csv', 'all_2021.csv', 'all_2022.csv', 'all_2023.csv', 'all_2024.csv', 'all_2025.csv', 'all_2014ps.csv', 'all_2015ps.csv', 'all_2016ps.csv', 'all_2017ps.csv', 'all_2018ps.csv', 'all_2019ps.csv', 'all_2020ps.csv', 'all_2021ps.csv', 'all_2022ps.csv', 'all_2023ps.csv', 'all_2024ps.csv', 'all_2025ps.csv']

/tmp/ipykernel_92186/1356508587.py:19: DtypeWarning: Columns (381,395,414) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Combined DataFrame shape: (346912, 466)

In [2]:
index_col=['PLAYER_ID', 'PLAYER_NAME','TEAM_ABBREVIATION','TEAM_ID','GAME_ID','year']

game_record=combined_df[index_col]
game_record.drop_duplicates(inplace=True)
game_record.to_csv('master_record.csv',index=False)
game_record

/tmp/ipykernel_92186/558844797.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_record.drop_duplicates(inplace=True)

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,year
0,203458,Alex Len,PHX,1.610613e+09,21301016,2014
1,203094,Andrew Nicholson,ORL,1.610613e+09,21301016,2014
2,203462,Archie Goodwin,PHX,1.610613e+09,21301016,2014
3,201167,Arron Afflalo,ORL,1.610613e+09,21301016,2014
4,101112,Channing Frye,PHX,1.610613e+09,21301016,2014
...,...,...,...,...,...,...
346907,1630167,Obi Toppin,IND,1.610613e+09,42400404,2025
346908,1627783,Pascal Siakam,IND,1.610613e+09,42400404,2025
346909,1628983,Shai Gilgeous-Alexander,OKC,1.610613e+09,42400404,2025
346910,204456,T.J. McConnell,IND,1.610613e+09,42400404,2025
346911,1630169,Tyrese Haliburton,IND,1.610613e+09,42400404,2025