In [1]:
import os
import pandas as pd

# Define the directory containing the CSV files
csv_dir = '.'  # or provide a full path like '/Users/yourname/data/'

# Get all CSV file names in the directory
csv_files = ['all_'+str(year)+'.csv' for year in range (2014,2027)]

csv_files_ps=['all_'+str(year)+'ps.csv' for year in range (2014,2027)]
csv_files=csv_files+csv_files_ps
# Initialize a list to hold DataFrames
dfs = []
print(csv_files)
# Loop through and read each file
for filename in csv_files:
    file_path = os.path.join(csv_dir, filename)
    try:
        df = pd.read_csv(file_path)
        dfs.append(df)
    except Exception as e:
        print(f"Could not read {filename}: {e}")

# Concatenate all DataFrames into one
if dfs:
    combined_df = pd.concat(dfs, ignore_index=True)
    print(f"Combined DataFrame shape: {combined_df.shape}")
else:
    print("No CSV files were loaded.")

['all_2014.csv', 'all_2015.csv', 'all_2016.csv', 'all_2017.csv', 'all_2018.csv', 'all_2019.csv', 'all_2020.csv', 'all_2021.csv', 'all_2022.csv', 'all_2023.csv', 'all_2024.csv', 'all_2025.csv', 'all_2026.csv', 'all_2014ps.csv', 'all_2015ps.csv', 'all_2016ps.csv', 'all_2017ps.csv', 'all_2018ps.csv', 'all_2019ps.csv', 'all_2020ps.csv', 'all_2021ps.csv', 'all_2022ps.csv', 'all_2023ps.csv', 'all_2024ps.csv', 'all_2025ps.csv', 'all_2026ps.csv']

/tmp/ipykernel_130280/1568563266.py:19: DtypeWarning: Columns (328,329) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Could not read all_2026ps.csv: [Errno 2] No such file or directory: './all_2026ps.csv'
Combined DataFrame shape: (361458, 526)

In [7]:
index_col=['PLAYER_ID', 'PLAYER_NAME','TEAM_ABBREVIATION','TEAM_ID','GAME_ID','year','MIN','date']

game_record=combined_df[index_col]
game_record.drop_duplicates(inplace=True)
game_record.to_csv('master_record.csv',index=False)
game_record

/tmp/ipykernel_130280/3204445678.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_record.drop_duplicates(inplace=True)

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,year,MIN,date
0,201166,Aaron Brooks,DEN,1.610613e+09,21300016,2014,11.083333,20131030
1,201576,Anthony Randolph,DEN,1.610613e+09,21300016,2014,15.183333,20131030
2,203463,Ben McLemore,SAC,1.610613e+09,21300016,2014,16.933333,20131030
3,201589,Darrell Arthur,DEN,1.610613e+09,21300016,2014,18.380000,20131030
4,202326,DeMarcus Cousins,SAC,1.610613e+09,21300016,2014,39.166667,20131030
...,...,...,...,...,...,...,...,...
342011,202362,Lance Stephenson,IND,1.610613e+09,41300205,2014,27.866667,20140513
342012,202730,Lavoy Allen,IND,1.610613e+09,41300205,2014,6.416667,20140513
342013,202331,Paul George,IND,1.610613e+09,41300205,2014,38.600000,20140513
342014,201579,Roy Hibbert,IND,1.610613e+09,41300205,2014,25.400000,20140513
342015,202323,Evan Turner,IND,1.610613e+09,41300205,2014,18.066667,20140513

In [3]:
game_record

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,year,MIN
0,201166,Aaron Brooks,DEN,1.610613e+09,21300016,2014,11.083333
1,201576,Anthony Randolph,DEN,1.610613e+09,21300016,2014,15.183333
2,203463,Ben McLemore,SAC,1.610613e+09,21300016,2014,16.933333
3,201589,Darrell Arthur,DEN,1.610613e+09,21300016,2014,18.380000
4,202326,DeMarcus Cousins,SAC,1.610613e+09,21300016,2014,39.166667
...,...,...,...,...,...,...,...
342011,202362,Lance Stephenson,IND,1.610613e+09,41300205,2014,27.866667
342012,202730,Lavoy Allen,IND,1.610613e+09,41300205,2014,6.416667
342013,202331,Paul George,IND,1.610613e+09,41300205,2014,38.600000
342014,201579,Roy Hibbert,IND,1.610613e+09,41300205,2014,25.400000
342015,202323,Evan Turner,IND,1.610613e+09,41300205,2014,18.066667

In [ ]:
game_record.sort_values(by='date',inplace=True)
game_record

/tmp/ipykernel_130280/3408342824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_record.sort_values(by='year',inplace=True)

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,year,MIN
342011,202362,Lance Stephenson,IND,1.610613e+09,41300205,2014,27.866667
342010,101133,Ian Mahinmi,IND,1.610613e+09,41300205,2014,11.351667
342009,201588,George Hill,IND,1.610613e+09,41300205,2014,31.200000
342008,202388,Donald Sloan,IND,1.610613e+09,41300205,2014,6.416667
342007,2561,David West,IND,1.610613e+09,41300205,2014,33.516667
...,...,...,...,...,...,...,...
331224,1641716,Jarace Walker,IND,1.610613e+09,22500226,2026,26.383333
331225,1630643,Jay Huff,IND,1.610613e+09,22500226,2026,14.283333
331226,1630526,Jeremiah Robinson-Earl,IND,1.610613e+09,22500226,2026,27.400000
331227,1630692,Jordan Goodwin,PHX,1.610613e+09,22500226,2026,22.601667
331196,1628997,Caleb Martin,DAL,1.610613e+09,22500238,2026,5.066667