In [1]:
import os
import pandas as pd

# Define the directory containing the CSV files
csv_dir = '.'  # or provide a full path like '/Users/yourname/data/'

# Get all CSV file names in the directory
csv_files = ['all_'+str(year)+'.csv' for year in range (2014,2027)]

csv_files_ps=['all_'+str(year)+'ps.csv' for year in range (2014,2027)]
csv_files=csv_files+csv_files_ps
# Initialize a list to hold DataFrames
dfs = []
print(csv_files)
# Loop through and read each file
for filename in csv_files:
    file_path = os.path.join(csv_dir, filename)
    try:
        df = pd.read_csv(file_path)
        dfs.append(df)
    except Exception as e:
        print(f"Could not read {filename}: {e}")

# Concatenate all DataFrames into one
if dfs:
    combined_df = pd.concat(dfs, ignore_index=True)
    print(f"Combined DataFrame shape: {combined_df.shape}")
else:
    print("No CSV files were loaded.")

['all_2014.csv', 'all_2015.csv', 'all_2016.csv', 'all_2017.csv', 'all_2018.csv', 'all_2019.csv', 'all_2020.csv', 'all_2021.csv', 'all_2022.csv', 'all_2023.csv', 'all_2024.csv', 'all_2025.csv', 'all_2026.csv', 'all_2014ps.csv', 'all_2015ps.csv', 'all_2016ps.csv', 'all_2017ps.csv', 'all_2018ps.csv', 'all_2019ps.csv', 'all_2020ps.csv', 'all_2021ps.csv', 'all_2022ps.csv', 'all_2023ps.csv', 'all_2024ps.csv', 'all_2025ps.csv', 'all_2026ps.csv']
Could not read all_2026ps.csv: [Errno 2] No such file or directory: './all_2026ps.csv'
Combined DataFrame shape: (349985, 523)

In [2]:
index_col=['PLAYER_ID', 'PLAYER_NAME','TEAM_ABBREVIATION','TEAM_ID','GAME_ID','year','MIN']

game_record=combined_df[index_col]
game_record.drop_duplicates(inplace=True)
game_record.to_csv('master_record.csv',index=False)
game_record

/tmp/ipykernel_1391784/1263707175.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_record.drop_duplicates(inplace=True)

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,year,MIN
0,203458,Alex Len,PHX,1.610613e+09,21301016,2014,11.416667
1,203094,Andrew Nicholson,ORL,1.610613e+09,21301016,2014,13.616667
2,203462,Archie Goodwin,PHX,1.610613e+09,21301016,2014,7.300000
3,201167,Arron Afflalo,ORL,1.610613e+09,21301016,2014,38.583333
4,101112,Channing Frye,PHX,1.610613e+09,21301016,2014,21.651667
...,...,...,...,...,...,...,...
328632,1642366,Quinten Post,GSW,1.610613e+09,22500121,2026,13.300000
328633,1630583,Santi Aldama,MEM,1.610613e+09,22500121,2026,22.400000
328634,201939,Stephen Curry,GSW,1.610613e+09,22500121,2026,29.701667
328635,1631218,Trayce Jackson-Davis,GSW,1.610613e+09,22500121,2026,6.833333
328636,1642954,Will Richard,GSW,1.610613e+09,22500121,2026,9.433333

In [3]:
game_record

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,year,MIN
0,203458,Alex Len,PHX,1.610613e+09,21301016,2014,11.416667
1,203094,Andrew Nicholson,ORL,1.610613e+09,21301016,2014,13.616667
2,203462,Archie Goodwin,PHX,1.610613e+09,21301016,2014,7.300000
3,201167,Arron Afflalo,ORL,1.610613e+09,21301016,2014,38.583333
4,101112,Channing Frye,PHX,1.610613e+09,21301016,2014,21.651667
...,...,...,...,...,...,...,...
328632,1642366,Quinten Post,GSW,1.610613e+09,22500121,2026,13.300000
328633,1630583,Santi Aldama,MEM,1.610613e+09,22500121,2026,22.400000
328634,201939,Stephen Curry,GSW,1.610613e+09,22500121,2026,29.701667
328635,1631218,Trayce Jackson-Davis,GSW,1.610613e+09,22500121,2026,6.833333
328636,1642954,Will Richard,GSW,1.610613e+09,22500121,2026,9.433333

In [4]:
game_record[game_record.MIN>5]

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,year,MIN
0,203458,Alex Len,PHX,1.610613e+09,21301016,2014,11.416667
1,203094,Andrew Nicholson,ORL,1.610613e+09,21301016,2014,13.616667
2,203462,Archie Goodwin,PHX,1.610613e+09,21301016,2014,7.300000
3,201167,Arron Afflalo,ORL,1.610613e+09,21301016,2014,38.583333
4,101112,Channing Frye,PHX,1.610613e+09,21301016,2014,21.651667
...,...,...,...,...,...,...,...
328632,1642366,Quinten Post,GSW,1.610613e+09,22500121,2026,13.300000
328633,1630583,Santi Aldama,MEM,1.610613e+09,22500121,2026,22.400000
328634,201939,Stephen Curry,GSW,1.610613e+09,22500121,2026,29.701667
328635,1631218,Trayce Jackson-Davis,GSW,1.610613e+09,22500121,2026,6.833333
328636,1642954,Will Richard,GSW,1.610613e+09,22500121,2026,9.433333