In [1]:
import requests
import pandas as pd
import time

# Define the base URL for the SWAR API
def scrape_teams(ps=False):
    base_url = "https://api.pbpstats.com/get-totals/nba"
    stype="Regular Season"
    carry=""
    if ps == True:
        stype="Playoffs"
        carry="ps"
    
    # Set up parameters
    params = {
        "SeasonType": stype,
        "Season": "",  # This will be dynamically filled for each season
        "Type": "Team",
    }
    
    # Define the range of seasons you want data for
    start_season = 2000  # Example start season
    end_season = 2024  # Example end season
    if ps == True:
        end_season=2023
    # Empty list to collect all data
    all_data = []
    
    # Loop through each season to fetch possessions data
    for season in range(start_season, end_season + 1):
        params["Season"] = f"{season}-{str(season + 1)[-2:]}"
        
        
        # Make a request to the API
        response = requests.get(base_url, params=params)
        data = response.json()
        
        # Process each team in the season
        df=pd.DataFrame(data['multi_row_table_data'])
        df['season']=season
        df['year']=season+1
        year =season+1
        df.to_csv(str(year)+carry+'.csv',index=False)
        print(season+1)
        time.sleep(2.5)
        all_data.append(df)
    
    # Convert collected data into a DataFrame
    df = pd.concat(all_data)

    for team_id in df['TeamId'].unique().tolist():
        teamdf=df[df['TeamId']==team_id]
        '''
        olddf=pd.read_csv(team_id+carry+'.csv')

        new_years = teamdf['year'].unique().tolist()
        olddf=olddf[~olddf.year.isin(new_years)]
        teamdf=pd.concat([olddf,teamdf])
        teamdf.drop_duplicates(inplace=False)
        '''
        teamdf.to_csv(team_id+carry+".csv",index=False)
    return df


def scrape_teams_vs(ps=False):
    base_url = "https://api.pbpstats.com/get-totals/nba"
    stype="Regular Season"
    carry=""
    if ps == True:
        stype="Playoffs"
        carry="ps"
    
    # Set up parameters
    params = {
        "SeasonType": stype,
        "Season": "",  # This will be dynamically filled for each season
        "Type": "Opponent",
    }
    
    # Define the range of seasons you want data for
    start_season = 2000  # Example start season
    
    end_season = 2024  # Example end season
    if ps == True:
        end_season=2023
    
    # Empty list to collect all data
    all_data = []
    
    # Loop through each season to fetch possessions data
    for season in range(start_season, end_season + 1):
        params["Season"] = f"{season}-{str(season + 1)[-2:]}"
        
        
        # Make a request to the API
        response = requests.get(base_url, params=params)
        data = response.json()
        
        # Process each team in the season
        df=pd.DataFrame(data['multi_row_table_data'])
        df['season']=season
        df['year']=season+1
        year =season+1
        print(season+1)
        time.sleep(2.5)
        df.to_csv(str(year)+'vs'+carry+'.csv',index=False)
        all_data.append(df)
    
    # Convert collected data into a DataFrame
    df = pd.concat(all_data)
    for team_id in df['TeamId'].unique().tolist():
        teamdf=df[df['TeamId']==team_id]
        '''
        olddf=pd.read_csv(team_id+carry+'.csv')

        new_years = teamdf['year'].unique().tolist()
        olddf=olddf[~olddf.year.isin(new_years)]
        teamdf=pd.concat([olddf,teamdf])
        teamdf.drop_duplicates(inplace=False)
        '''
        teamdf.to_csv(team_id+'vs'+carry+".csv",index=False)
    return df


# Display a sample of the data
scrape_teams(ps=False)
scrape_teams_vs(ps=False)

#scrape_teams(ps=True)
#scrape_teams_vs(ps=True)
#crape_teams_vs

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025

,EntityId,TeamId,Name,ShortName,RowId,TeamAbbreviation,SecondsPlayed,GamesPlayed,PlusMinus,OffPoss,...,year,StepOutOfBoundsTurnovers,Loose Ball Fouls Drawn,NonShootingPenaltyNonTakeFoulsDrawn,BlockingFouls,Charge Fouls,Charge Fouls Drawn,BlockingFoulsDrawn,Transition Take Fouls,Transition Take Fouls Drawn
0,1610612745,1610612745,HOU,HOU,1610612745,HOU,237960.0,82,-188,7496,...,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1610612746,1610612746,LAC,LAC,1610612746,LAC,240360.0,82,237,7484,...,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1610612738,1610612738,BOS,BOS,1610612738,BOS,237960.0,82,175,7657,...,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1610612739,1610612739,CLE,CLE,1610612739,CLE,237937.0,82,348,7558,...,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1610612741,1610612741,CHI,CHI,1610612741,CHI,238260.0,82,746,7402,...,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,1610612758,1610612758,SAC,SAC,1610612758,SAC,44100.0,15,-47,1498,...,2025,11.0,21.0,24.0,NaN,10.0,7.0,NaN,NaN,2.0
26,1610612764,1610612764,WAS,WAS,1610612764,WAS,37440.0,13,192,1331,...,2025,6.0,12.0,28.0,NaN,3.0,7.0,NaN,1.0,1.0
27,1610612762,1610612762,UTA,UTA,1610612762,UTA,40320.0,14,152,1385,...,2025,6.0,9.0,21.0,NaN,3.0,3.0,NaN,NaN,NaN
28,1610612756,1610612756,PHX,PHX,1610612756,PHX,46680.0,16,39,1578,...,2025,2.0,9.0,19.0,NaN,NaN,6.0,NaN,1.0,1.0
29,1610612743,1610612743,DEN,DEN,1610612743,DEN,38040.0,13,-19,1322,...,2025,6.0,14.0,15.0,NaN,5.0,10.0,NaN,1.0,2.0