In [10]:
from nba_api.stats.static import players,teams
import pandas as pd
import requests
import sys
import os
import time
from datetime import datetime
from requests.exceptions import RequestException # Import for better error handling
def format_date_to_url(date):
    # Convert date from YYYYMMDD to datetime object
    date_obj = datetime.strptime(str(date), '%Y%m%d')
    
    # Format the date as MM%2FDD%2FYYYY
    formatted_date = date_obj.strftime('%m%%2F%d%%2F%Y')
    
    return formatted_date

# Example usage

def pull_data(url, max_retries=3, delay_seconds=5):
    """
    Pulls data from a URL with retry logic for handling transient errors.

    Args:
        url (str): The API endpoint URL.
        max_retries (int): The maximum number of times to retry the request.
        delay_seconds (int): The time in seconds to wait between retries.

    Returns:
        pandas.DataFrame or None: The parsed data as a DataFrame, or None if all retries fail.
    """
    headers = {
        "Host": "stats.nba.com",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36",
        "Accept": "application/json, text/plain, */*",
        "Accept-Language": "en-US,en;q=0.9",
        "Accept-Encoding": "gzip, deflate, br",
        "Connection": "keep-alive",
        "Referer": "https://stats.nba.com/",
        "Origin": "https://stats.nba.com",
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "same-origin",
    }

    for attempt in range(max_retries):
        try:
            # --- API Request Attempt ---
            print(f"Attempt {attempt + 1} of {max_retries} to pull data from {url}")
            response = requests.get(url, headers=headers)
            response.raise_for_status() # Raise an exception for bad status codes (4xx or 5xx)
            json_data = response.json()

            # --- Data Parsing Logic (from your original code) ---
            if len(json_data.get("resultSets", [])) == 1:
                data = json_data["resultSets"][0]["rowSet"]
                columns = json_data["resultSets"][0]["headers"]
                df = pd.DataFrame.from_records(data, columns=columns)
            else:
                # Assuming this else block is for a different structure
                data = json_data["resultSets"]["rowSet"]
                # Assuming 'headers' is a list of dicts and the second element has 'columnNames'
                columns = json_data["resultSets"]["headers"][1]['columnNames']
                df = pd.DataFrame.from_records(data, columns=columns)

            time.sleep(1.2)
            print('pulled successfully')
            return df

        except (RequestException, ValueError, KeyError) as e:
            # Handle request errors (e.g., network issues, timeouts) or JSON/Key errors
            print(f"Error on attempt {attempt + 1}: {e}")
            if attempt < max_retries - 1:
                print(f"Waiting {delay_seconds} seconds before retrying...")
                time.sleep(delay_seconds)
            else:
                print(f"Max retries ({max_retries}) reached. Failed to pull data.")
                # You can log the error or return a specific value here
                time.sleep(1.2) # Maintain the original delay even on final failure before returning
                return None # Return None or raise an exception if preferred

    return None # Should not be reached, but good practice


def pull_game_level(dateframe, start_year,end_year,ps=False):
    stype = 'Regular%20Season'
    trail=''
    if ps == True:
        stype='Playoffs'
        trail='ps'
    dframes = []
    shotcolumns = ['FGA_FREQUENCY', 'FGM', 'FGA', 'FG_PCT', 'EFG_PCT', 'FG2A_FREQUENCY', 'FG2M', 'FG2A', 'FG2_PCT', 
                   'FG3A_FREQUENCY', 'FG3M', 'FG3A', 'FG3_PCT']
    
    unit='Player'
    for year in range(start_year, end_year):
        count=0
        countframe=dateframe[dateframe.year==year].reset_index()
        year_frame=[]
        test = False
        game_date = 20250125
        if test != False:
            countframe=countframe[countframe.GAME_DATE<game_date]

        year_dates = countframe['GAME_DATE'].unique().tolist()
        if os.path.exists('year_files/'+str(year)+trail+'_games.csv'):
            df= pd.read_csv('year_files/'+str(year)+trail+'_games.csv')
            df['date']=df['date'].astype(int)
            df.sort_values(by='date',ascending=False)
            df.drop_duplicates(subset=['date','PLAYER_ID','TEAM_ID'],inplace=True)
            if test != False:
                df=df[df.date<game_date]
            
            year_frame.append(df)

            year_dates=[int(date) for date in year_dates if date not in df['date'].unique().tolist()]
            year_dates=year_dates[::-1]
            

        season = str(year - 1) + '-' + str(year)[-2:]
        print(year_dates)
        for date in year_dates:
            try:
                date_num = int(date)
                date = format_date_to_url(date)
    
    
                url = f'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={season}&SeasonSegment=&SeasonType={stype}&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
            
                df = pull_data(url)
    
                url2 = f'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={season}&SeasonSegment=&SeasonType={stype}&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df2 = pull_data(url2)
    
                url3 = f'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam={unit}&PlayerPosition=&PtMeasureType=Passing&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df3 = pull_data(url3)
    
                url4 = f'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam={unit}&PlayerPosition=&PtMeasureType=Drives&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df4 = pull_data(url4)
    
                url5 = f'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam={unit}&PlayerPosition=&PtMeasureType=Possessions&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df5 = pull_data(url5)
    
                url6 = f'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam={unit}&PlayerPosition=&PtMeasureType=Rebounding&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df6 = pull_data(url6)
    
                url7 = f'https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=0-2%20Feet%20-%20Very%20Tight&College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&DribbleRange=&GameScope=&GameSegment=&GeneralRange=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=0&TouchTimeRange=&VsConference=&VsDivision=&Weight='
                df7 = pull_data(url7)
    
                term = 'very_tight_'
                df7.rename(columns={col: term + col for col in shotcolumns}, inplace=True)
                
                url8 = 'https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=2-4%20Feet%20-%20Tight&College=&Conference=&Country=&DateFrom=' + date + '&DateTo=' + date + '&Division=&DraftPick=&DraftYear=&DribbleRange=&GameScope=&GameSegment=&GeneralRange=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season=' + season + '&SeasonSegment=&SeasonType='+stype+'&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=0&TouchTimeRange=&VsConference=&VsDivision=&Weight='
                df8 = pull_data(url8)
                term = 'tight_'
                df8.rename(columns={col: term + col for col in shotcolumns},inplace=True)
    
                url9 = 'https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=4-6%20Feet%20-%20Open&College=&Conference=&Country=&DateFrom=' + date + '&DateTo=' + date + '&Division=&DraftPick=&DraftYear=&DribbleRange=&GameScope=&GameSegment=&GeneralRange=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season=' + season + '&SeasonSegment=&SeasonType='+stype+'&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=0&TouchTimeRange=&VsConference=&VsDivision=&Weight='
                df9 = pull_data(url9)
                term = 'open_'
                df9.rename(columns={col: term + col for col in shotcolumns},inplace=True)
    
                url10 = 'https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=6%2B%20Feet%20-%20Wide%20Open&College=&Conference=&Country=&DateFrom=' + date + '&DateTo=' + date + '&Division=&DraftPick=&DraftYear=&DribbleRange=&GameScope=&GameSegment=&GeneralRange=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season=' + season + '&SeasonSegment=&SeasonType='+stype+'&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=0&TouchTimeRange=&VsConference=&VsDivision=&Weight='
                df10 = pull_data(url10)
                term = 'wide_open_'
                df10.rename(columns={col: term + col for col in shotcolumns},inplace=True)
                url11 = 'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom=' + date + '&DateTo=' + date + '&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam=Player&PlayerPosition=&PtMeasureType=PullUpShot&Season=' + season + '&SeasonSegment=&SeasonType='+stype+'&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df11 = pull_data(url11) 
                shotcolumns2=shotcolumns+['EFG%']
                term='pullup_'
                df11.rename(columns={col: term + col for col in shotcolumns2},inplace=True)
    
                url12 = 'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom=' + date + '&DateTo=' + date + '&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam=Player&PlayerPosition=&PtMeasureType=Efficiency&Season=' + season + '&SeasonSegment=&SeasonType='+stype+'&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='


                df12 = pull_data(url12) 
                url13=f"https://stats.nba.com/stats/leaguedashplayershotlocations?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DistanceRange=By%20Zone&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={season}&SeasonSegment=&SeasonType={stype}&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight="
                
                df13=pull_data(url13)
    
                zone_columns=['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION', 'AGE', 'NICKNAME',
                 'RA_FGM', 'RA_FGA', 'RA_FG_PCT',               # Restricted Area
                 'ITP_FGM', 'ITP_FGA', 'ITP_FG_PCT',             # In The Paint (Non-RA)
                 'MID_FGM', 'MID_FGA', 'MID_FG_PCT',             # Mid Range
                 'LEFT_CORNER_3_FGM', 'LEFT_CORNER_3_FGA', 'LEFT_CORNER_3_FG_PCT',  # Left Corner 3
                 'RIGHT_CORNER_3_FGM', 'RIGHT_CORNER_3_FGA', 'RIGHT_CORNER_3_FG_PCT', # Right Corner 3
          
    
                               # All Corner 3s
                 'ABOVE_BREAK_3_FGM', 'ABOVE_BREAK_3_FGA', 'ABOVE_BREAK_3_FG_PCT', 
                       'BACKCOURT_FGM', 'BACKCOURT_FGA', 'BACKCOURT_FG_PCT', # Right Corner 3
                              
                              'CORNER_3_FGM', 'CORNER_3_FGA', 'CORNER_3_FG_PCT'  ]  # Above the Break 3
    
                df13.columns=zone_columns
                url14=f"https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom{date}=&DateTo={date}&DefenseCategory=Less%20Than%206Ft&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight="
                df14=pull_data(url14)
                df14.rename(columns={'CLOSE_DEF_PERSON_ID':'PLAYER_ID'},inplace=True)
    
                url15=f"https://stats.nba.com/stats/leaguedashplayershotlocations?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DistanceRange=5ft%20Range&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={season}&SeasonSegment=&SeasonType={stype}&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight="
                df15=pull_data(url15)
                df15.columns=['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBR', 'AGE', 'NICKNAME',
                 'FGM_LT_5', 'FGA_LT_5', 'FGP_LT_5',      # Less than 5 feet
                 'FGM_5_9', 'FGA_5_9', 'FGP_5_9',         # 5-9 feet
                 'FGM_10_14', 'FGA_10_14', 'FGP_10_14',   # 10-14 feet
                 'FGM_15_19', 'FGA_15_19', 'FGP_15_19',   # 15-19 feet
                 'FGM_20_24', 'FGA_20_24', 'FGP_20_24',   # 20-24 feet
                 'FGM_25_29', 'FGA_25_29', 'FGP_25_29',   # 25-29 feet
                 'FGM_30_34', 'FGA_30_34', 'FGP_30_34',   # 30-34 feet
                 'FGM_35_39', 'FGA_35_39', 'FGP_35_39',   # 35-39 feet
                 'FGM_40_PLUS', 'FGA_40_PLUS', 'FGP_40_PLUS'  # 40+ feet
                ]
                url16 = f'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam={unit}&PlayerPosition=&PtMeasureType=CatchShoot&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df16=pull_data(url16)
    
                
                url17 = f'https://stats.nba.com/stats/leaguedashteamstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={season}&SeasonSegment=&SeasonType=Playoffs&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                df17 = pull_data(url17)
                df17=df17[['TEAM_ID','POSS']]
                df17.columns=['TEAM_ID','team_poss']
    
                poss_map=dict(zip(df17['TEAM_ID'],df17['team_poss']  ))
    
                df['team_poss']=df['TEAM_ID'].map(poss_map)

                url18 = f'https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DefenseCategory=Overall&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
            
                df18 = pull_data(url18)
                df18.rename(columns={'CLOSE_DEF_PERSON_ID': 'PLAYER_ID'}, inplace=True)
                df18.rename(columns={col: f'overall_def_{col}' for col in df8.columns if col != 'PLAYER_ID'}, inplace=True)

                # Link 2: 3-pointers defense stats
                url19 = f'https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DefenseCategory=3%20Pointers&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                
                df19 = pull_data(url19)

                df19.rename(columns={'CLOSE_DEF_PERSON_ID': 'PLAYER_ID'}, inplace=True)
                df19.rename(columns={col: f'three_pt_def_{col}' for col in df19.columns if col != 'PLAYER_ID'}, inplace=True)
  
                
                # Link 3: 2-pointers defense stats
                url20 = f'https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DefenseCategory=2%20Pointers&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
     
                df20 = pull_data(url20)

                df20.rename(columns={'CLOSE_DEF_PERSON_ID': 'PLAYER_ID'}, inplace=True)
                df20.rename(columns={col: f'two_pt_def_{col}' for col in df20.columns if col != 'PLAYER_ID'}, inplace=True)

                
                # Link 4: Less than 6ft defense stats
                url21 = f'https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DefenseCategory=Less%20Than%206Ft&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
               
                df21 = pull_data(url21)
                df21.rename(columns={'CLOSE_DEF_PERSON_ID': 'PLAYER_ID'}, inplace=True)
                df21.rename(columns={col: f'less_6ft_def_{col}' for col in df21.columns if col != 'PLAYER_ID'}, inplace=True)
    
                # Link 5: Less than 10ft defense stats
                url22 = f'https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DefenseCategory=Less%20Than%2010Ft&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                
                df22 = pull_data(url22)
                df22.rename(columns={'CLOSE_DEF_PERSON_ID': 'PLAYER_ID'}, inplace=True)
                df22.rename(columns={col: f'less_10ft_def_{col}' for col in df22.columns if col != 'PLAYER_ID'}, inplace=True)
                
                
                # Link 6: Less than 15ft defense stats
                url23 = f'https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&DefenseCategory=Greater%20Than%2015Ft&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
            
                df23 = pull_data(url6)
                df23.rename(columns={'CLOSE_DEF_PERSON_ID': 'PLAYER_ID'}, inplace=True)
                df23.rename(columns={col: f'more_15ft_def_{col}' for col in df23.columns if col != 'PLAYER_ID'}, inplace=True)
        
                

                url24 = f'https://stats.nba.com/stats/leaguehustlestatsplayer?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={season}&SeasonSegment=&SeasonType={stype}&TeamID=0&VsConference=&VsDivision=&Weight='
            
                df24 = pull_data(url24)
                df24.rename(columns={col: f'hustle_{col}' for col in df24.columns if col != 'PLAYER_ID'}, inplace=True)
       
                # Link 8: Post touch stats
                url25 = f'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&PlayerExperience=&PlayerOrTeam=Player&PlayerPosition=&PtMeasureType=PostTouch&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                
                df25 = pull_data(url25)
                df25.rename(columns={col: f'post_touch_{col}' for col in df25.columns if col != 'PLAYER_ID'}, inplace=True)
      
                
                # Link 9: Speed distance stats
                url26 = f'https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom={date}&DateTo={date}&Division=&DraftPick=&DraftYear=&GameScope=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&PlayerExperience=&PlayerOrTeam=Player&PlayerPosition=&PtMeasureType=SpeedDistance&Season={season}&SeasonSegment=&SeasonType={stype}&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='
                
                df26 = pull_data(url26)
                df26 = pull_data(url26)
                frames = [df2, df3, df4, df5, df6, df7, df8, df9, df10,df11,df12,df13,df14,df15,df16,df18,df19,df20,df21,df22,df23,df24,df25,df26]
                for frame in frames:
                    
                    joined_columns = set(frame.columns) - set(df.columns)
                    joined_columns = list(joined_columns)
                    joined_columns.append('PLAYER_ID')
                    frame = frame[joined_columns]
    
                    df = df.merge(frame, on='PLAYER_ID',how='left').reset_index(drop=True)
    
                df['year'] = year
                df['date']=date_num
                extra_columns = [
                '_PLAYER_NAME', 
                '_PLAYER_LAST_TEAM_ID', 
                '_GP', 
                '_PLAYER_POSITION', 
                '_PLAYER_LAST_TEAM_ABBREVIATION', 
                '_PLAYER_ID',
                '_MIN',
                '_TEAM_ABBREVIATUON',
                '_G',
                '_W',
                '_L',
                '_MIN',
                '_AGE',
                '_TEAM_ID'
            ]

    
                cols_to_drop = [col for col in df.columns if any(col.endswith(ex_col) for ex_col in extra_columns)]
                df = df.drop(columns=cols_to_drop)
      
                year_frame.append(df)
                count+=1
                print(date_num)
                if count %10==0:
            
                    yeardata=pd.concat(year_frame)
                    print(len(yeardata))
                    yeardata['playoffs']=ps
                    yeardata.to_csv(str(year)+trail+'_games.csv',index=False)
            except Exception as e:
                print(str(e))
                print(str(date_num))
                time.sleep(1)
    

        yeardata=pd.concat(year_frame)
        print(len(yeardata))
        yeardata['playoffs']=ps
        print('year_files/'+str(year)+trail+'_games.csv')
        yeardata.to_csv('year_files/'+str(year)+trail+'_games.csv',index=False)
        dframes.append(yeardata)
        print(f"Year: {year}")

    total = pd.concat(dframes)
    return total

start_year=2026
end_year=2027




def get_dates(start_year, end_year, ps=False):
    trail = 'ps' if ps else ''
    dates = []

    for year in range(start_year, end_year):
        for team in teams.get_teams():
            team_id = team['id']
            base = 'https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/'
            path = f"{base}{year}{trail}/{team_id}.csv"
            print(path)

            try:
                df = pd.read_csv(path)
                df = df[['PLAYER_ID', 'TEAM_ID', 'HTM', 'VTM', 'GAME_DATE', 'GAME_ID']]
                df.sort_values(by='GAME_DATE', inplace=True)
                df.drop_duplicates(inplace=True)
                df['year'] = year
                dates.append(df)
            except Exception as e:
                print(f"Skipping {path}: {e}")
    
    return pd.concat(dates, ignore_index=True) if dates else pd.DataFrame()
ps=False
dateframe=get_dates(start_year,end_year,ps=ps)

dates=dateframe['GAME_DATE'].unique().tolist()
dates.sort()

df= pull_game_level(dateframe,start_year,end_year,ps=ps)
#data=pull_game_level(dates)
df
df.drop_duplicates(subset=['PLAYER_ID','TEAM_ID','date'])

https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612737.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612738.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612739.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612740.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612741.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612742.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612743.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612744.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612745.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612746.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612747.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612748.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612749.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612750.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612751.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612752.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612753.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612754.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612755.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612756.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612757.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612758.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612759.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612760.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612761.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612762.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612763.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612764.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612765.csv
https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/team/2026/1610612766.csv
[]
5532
year_files/2026_games.csv
Year: 2026

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,AVG_SPEED,DIST_FEET,DIST_MILES_DEF,DIST_MILES_OFF,AVG_SPEED_DEF,AVG_SPEED_OFF,DIST_MILES,year,date,playoffs
0,1631260,AJ Green,AJ,1610612749,MIL,26.0,1,1,0,1.0,...,4.80,10739.0,1.0,1.1,4.91,5.14,2.0,2026,20251022,False
1,1642358,AJ Johnson,AJ,1610612764,WAS,20.0,1,0,1,0.0,...,3.45,694.0,0.1,0.1,5.44,9.45,0.1,2026,20251022,False
2,1642846,Ace Bailey,Ace,1610612762,UTA,19.0,1,1,0,1.0,...,4.22,7303.0,0.7,0.7,4.32,4.13,1.4,2026,20251022,False
3,1641737,Adem Bona,Adem,1610612755,PHI,22.0,1,1,0,1.0,...,4.42,5097.0,0.4,0.5,3.94,4.02,1.0,2026,20251022,False
4,1642259,Alex Sarr,Alex,1610612764,WAS,20.0,1,0,1,0.0,...,4.64,9400.0,0.9,0.9,4.61,4.66,1.8,2026,20251022,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5527,1630249,Vít Krejčí,Vít,1610612737,ATL,25.0,1,1,0,1.0,...,4.20,11722.0,1.1,1.1,3.78,4.74,2.2,2026,20251123,False
5528,1642905,Yang Hansen,ang Hansen,1610612757,POR,20.0,1,0,1,0.0,...,3.91,5984.0,0.6,0.6,4.05,4.52,1.1,2026,20251123,False
5529,1642949,Yanic Konan Niederhäuser,Yanic Konan,1610612746,LAC,22.0,1,0,1,0.0,...,3.60,1183.0,0.1,0.1,4.02,3.26,0.2,2026,20251123,False
5530,1642258,Zaccharie Risacher,Zaccharie,1610612737,ATL,20.0,1,1,0,1.0,...,4.46,8045.0,0.7,0.8,4.09,4.85,1.5,2026,20251123,False
5531,1630533,Ziaire Williams,Ziaire,1610612751,BKN,24.0,1,0,1,0.0,...,4.19,10213.0,0.9,1.1,4.15,4.66,1.9,2026,20251123,False

In [11]:
dates.sort()
dates

[20251021,
 20251022,
 20251023,
 20251024,
 20251025,
 20251026,
 20251027,
 20251028,
 20251029,
 20251030,
 20251031,
 20251101,
 20251102,
 20251103,
 20251104,
 20251105,
 20251106,
 20251107,
 20251108,
 20251109,
 20251110,
 20251111,
 20251112,
 20251113,
 20251114,
 20251115,
 20251116,
 20251117,
 20251118,
 20251119,
 20251120,
 20251121,
 20251122,
 20251123]

In [12]:
'''
dateframe = pd.read_csv('../../shot_data/game_dates.csv')
dateframe=dateframe[dateframe.season=='2024-25']
dateframe.sort_values(by='date',inplace=True,ascending=False)

print(dateframe.head(30))
print(dateframe.columns)
dateframe=dateframe[['date','GAME_ID','TEAM_ID']]
dateframe.date.max()

print(len(test))
merge=test.merge(dateframe,how='left')
print(len(merge))
merge


merge[merge.GAME_ID.isna()]
'''

"\ndateframe = pd.read_csv('../../shot_data/game_dates.csv')\ndateframe=dateframe[dateframe.season=='2024-25']\ndateframe.sort_values(by='date',inplace=True,ascending=False)\n\nprint(dateframe.head(30))\nprint(dateframe.columns)\ndateframe=dateframe[['date','GAME_ID','TEAM_ID']]\ndateframe.date.max()\n\nprint(len(test))\nmerge=test.merge(dateframe,how='left')\nprint(len(merge))\nmerge\n\n\nmerge[merge.GAME_ID.isna()]\n"

In [ ]:

if ps==False:
    trail=''
else:
    trail='ps'
print(trail)
frames= []
count=0
index_master=pd.read_csv('https://raw.githubusercontent.com/gabriel1200/site_Data/refs/heads/master/index_master.csv')
index_master=index_master[index_master.team!='TOT']
index_master['team_id']=index_master['team_id'].astype(int)
index_master['nba_id']=index_master['nba_id'].astype(int)


game_dates= pd.read_csv('https://raw.githubusercontent.com/gabriel1200/shot_data/refs/heads/master/game_dates.csv')
team_id_map = game_dates[['team', 'TEAM_ID']].drop_duplicates().set_index('team')['TEAM_ID'].to_dict()
game_dates['year'] = game_dates['season'].apply(lambda x: int(x.split('-')[0]) + 1)
# 2. Map the 'opp_team' column using this dictionary to create the new column
game_dates['OPP_TEAM_ID'] = game_dates['opp_team'].map(team_id_map)
for year in range(start_year,end_year):
    # Load the game data for the specific year.
    games_collected=[]
    df = pd.read_csv(f'year_files/{year}{trail}_games.csv')

    team_map=dict(zip(df['TEAM_ID'],df['TEAM_ABBREVIATION']))
    
    # Filter index_master for the current year.
    year_index = index_master[index_master['year'] == year].reset_index()

    # Process each unique date in the dataset.
    for date in df['date'].unique().tolist():
        datedf=df[df.date==date].reset_index(drop=True)
        datedf=datedf.drop_duplicates(subset=['PLAYER_ID','date'])
        # Filter game data by date.
        
        gameframe = dateframe[dateframe['GAME_DATE'] == date].reset_index()
        gameframe.rename(columns={'GAME_DATE':'date'},inplace=True)
        # Get the unique team and game data for the specific date from gameframe.
        
        to_merge = gameframe[['TEAM_ID', 'GAME_ID', 'date', 'year']].drop_duplicates().reset_index(drop=True)
        

        save_frame=datedf.merge(to_merge,on=['TEAM_ID','date','year'],how='left')

      
        save_frame.drop_duplicates(inplace=True)

        
        # Merge game data with index_master to ensure correct team alignment.
        # Match on 'player' and 'team' columns from index_master and 'TEAM_ID' from the game data.

        # Identify rows where the merge may have issues.
        if save_frame['GAME_ID'].isna().any():
        
            missing=save_frame[save_frame['GAME_ID'].isna()].reset_index(drop=True)
            print(gameframe)
            print(missing)
            save_frame.dropna(subset='GAME_ID',inplace=True)
            missing.drop(columns=['GAME_ID','TEAM_ID','TEAM_ABBREVIATION'],inplace=True)

            missing=missing.merge(gameframe,on=['PLAYER_ID','year','date'],how='left')
            missing['TEAM_ABBREVIATION']=missing['TEAM_ID'].map(team_map)
    
            save_frame=pd.concat([save_frame,missing])

        if save_frame['GAME_ID'].isna().any():
        
            missing=save_frame[save_frame['GAME_ID'].isna()].reset_index(drop=True)
            missing.drop(columns='GAME_ID',inplace=True)
            save_frame.dropna(subset='GAME_ID',inplace=True)
            missed=[]
            print(missing['PLAYER_ID'])
            
            for missed_player in missing['PLAYER_ID'].unique().tolist():
                missing_frame=missing[missing.PLAYER_ID==missed_player].reset_index(drop=True)
                print(missing_frame)
                temp_index=year_index[year_index.nba_id==missed_player].reset_index(drop=True)
                team_id=temp_index.iloc[0]['team_id']
                team=temp_index.iloc[0]['team']
                missing_frame['TEAM_ID']=int(team_id)
                missing_frame['TEAM_ABBREVIATION']=team
                missing_frame= missing_frame.merge(to_merge,on=['TEAM_ID','date','year'],how='left')
                missed.append(missing_frame)

            missing=pd.concat(missed)
            save_frame=pd.concat([save_frame,missing])
        if save_frame['GAME_ID'].isna().any():
        
            missing=save_frame[save_frame['GAME_ID'].isna()].reset_index(drop=True)
            missing.drop(columns='GAME_ID',inplace=True)
            save_frame.dropna(subset='GAME_ID',inplace=True)
            missed=[]
            print(missed_player)
            
            for missed_player in missing['PLAYER_ID'].unique().tolist():
                missing_frame=missing[missing.PLAYER_ID==missed_player].reset_index(drop=True)
                temp_index=year_index[year_index.nba_id==missed_player].reset_index(drop=True)
                team_id=temp_index.iloc[1]['team_id']
                team=temp_index.iloc[1]['team']
                missing_frame['TEAM_ID']=int(team_id)
                missing_frame['TEAM_ABBREVIATION']=team
                missing_frame= missing_frame.merge(to_merge,on=['TEAM_ID','date','year'],how='left')
                missed.append(missing_frame)

            missing=pd.concat(missed)
            save_frame=pd.concat([save_frame,missing])

        if save_frame['GAME_ID'].isna().any():
        
            missing=save_frame[save_frame['GAME_ID'].isna()].reset_index(drop=True)
            missing.drop(columns='GAME_ID',inplace=True)
            save_frame.dropna(subset='GAME_ID',inplace=True)
            missed=[]
            
            for missed_player in missing['PLAYER_ID'].unique().tolist():
                missing_frame=missing[missing.PLAYER_ID==missed_player].reset_index(drop=True)
                temp_index=year_index[year_index.nba_id==missed_player].reset_index(drop=True)
                team_id=temp_index.iloc[2]['team_id']
                team=temp_index.iloc[2]['team']
                missing_frame['TEAM_ID']=int(team_id)
                missing_frame['TEAM_ABBREVIATION']=team
                missing_frame= missing_frame.merge(to_merge,on=['TEAM_ID','date','year'],how='left')
                missed.append(missing_frame)

            missing=pd.concat(missed)
            save_frame=pd.concat([save_frame,missing])
            
        if save_frame['GAME_ID'].isna().any():
            missing=save_frame[save_frame['GAME_ID'].isna()]
            print('test point')
            print(missing)
        
        # Remove any duplicate entries after the merge.
        save_frame.drop_duplicates(inplace=True)
        save_frame['GAME_ID']=save_frame['GAME_ID'].astype(int)
        # Save each game by unique GAME_ID.
        for game_id in save_frame['GAME_ID'].unique():
            gameid_frame = save_frame[save_frame['GAME_ID'] == game_id].reset_index(drop=True)
            gameid_frame.to_csv(f'{year}/{game_id}.csv', index=False)
            games_collected.append(gameid_frame)
            count += 1
    all_games=pd.concat(games_collected)

    year_dates= game_dates[game_dates.year==year]

    year_dates=year_dates[['GAME_ID','TEAM_ID','opp_team','OPP_TEAM_ID']]
    
    year_dates.rename(columns={'opp_team':'opp_team_abbr','OPP_TEAM_ID':'opp_team_id '},inplace=True)
    
    temp=all_games.merge(year_dates,how='left')


    all_games.to_csv('all_games/all_'+str(year)+trail+'.csv',index=False)
    all_games.to_parquet('all_games/all_'+str(year)+trail+'.parquet', index=False)
    #all_games.head(1).to_csv('all_games/sample.csv')

        
            
            # Exit early for testing if more than 8 files are saved.

/tmp/ipykernel_1501/4237744394.py:24: DtypeWarning: Columns (381,395,414) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'year_files/{year}{trail}_games.csv')

Empty DataFrame
Columns: [index, PLAYER_ID, TEAM_ID, HTM, VTM, date, GAME_ID, year]
Index: []
     PLAYER_ID         PLAYER_NAME   NICKNAME     TEAM_ID TEAM_ABBREVIATION  \
0      1631260            AJ Green         AJ  1610612749               MIL
1      1642358          AJ Johnson         AJ  1610612749               MIL
2      1630174       Aaron Nesmith      Aaron  1610612754               IND
3      1641737           Adem Bona       Adem  1610612755               PHI
4      1630578      Alperen Sengun    Alperen  1610612745               HOU
..         ...                 ...        ...         ...               ...
229    1642274          Yves Missi       Yves  1610612740               NOP
230    1642258  Zaccharie Risacher  Zaccharie  1610612737               ATL
231    1641744           Zach Edey       Zach  1610612763               MEM
232     203897         Zach LaVine       Zach  1610612741               CHI
233    1630533     Ziaire Williams     Ziaire  1610612751               BKN

      AGE  GP  W  L  W_PCT  ...  post_touch_POST_TOUCH_PASSES_PCT  \
0    25.0   1  1  0    1.0  ...                               NaN
1    19.0   1  1  0    1.0  ...                               NaN
2    25.0   1  1  0    1.0  ...                               NaN
3    21.0   1  0  1    0.0  ...                               NaN
4    22.0   1  0  1    0.0  ...                               NaN
..    ...  .. .. ..    ...  ...                               ...
229  20.0   1  1  0    1.0  ...                               NaN
230  19.0   1  1  0    1.0  ...                               NaN
231  22.0   1  1  0    1.0  ...                               NaN
232  29.0   1  0  1    0.0  ...                               NaN
233  23.0   1  0  1    0.0  ...                               NaN

     DIST_MILES_OFF  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0               NaN             NaN        NaN            NaN         NaN
1               NaN             NaN        NaN            NaN         NaN
2               NaN             NaN        NaN            NaN         NaN
3               NaN             NaN        NaN            NaN         NaN
4               NaN             NaN        NaN            NaN         NaN
..              ...             ...        ...            ...         ...
229             NaN             NaN        NaN            NaN         NaN
230             NaN             NaN        NaN            NaN         NaN
231             NaN             NaN        NaN            NaN         NaN
232             NaN             NaN        NaN            NaN         NaN
233             NaN             NaN        NaN            NaN         NaN

     AVG_SPEED_DEF  MIN1  DIST_FEET  GAME_ID
0              NaN   NaN        NaN      NaN
1              NaN   NaN        NaN      NaN
2              NaN   NaN        NaN      NaN
3              NaN   NaN        NaN      NaN
4              NaN   NaN        NaN      NaN
..             ...   ...        ...      ...
229            NaN   NaN        NaN      NaN
230            NaN   NaN        NaN      NaN
231            NaN   NaN        NaN      NaN
232            NaN   NaN        NaN      NaN
233            NaN   NaN        NaN      NaN

[234 rows x 436 columns]
0      1631260
1      1642358
2      1630174
3      1641737
4      1630578
        ...
229    1642274
230    1642258
231    1641744
232     203897
233    1630533
Name: PLAYER_ID, Length: 234, dtype: int64
   PLAYER_ID PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1631260    AJ Green       AJ      NaN               NaN  25.0   1  1  0

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1642358  AJ Johnson       AJ      NaN               NaN  19.0   1  1  0

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID    PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1630174  Aaron Nesmith    Aaron      NaN               NaN  25.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1641737   Adem Bona     Adem      NaN               NaN  21.0   1  0  1

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1630578  Alperen Sengun  Alperen      NaN               NaN  22.0   1  0

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID    PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1641708  Amen Thompson     Amen      NaN               NaN  21.0   1  0

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID  PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1629599  Amir Coffey     Amir      NaN               NaN  27.0   1  0  1

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0     203083  Andre Drummond    Andre      NaN               NaN  31.0   1  0

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID        PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  \
0    1641748  Andre Jackson Jr.    Andre      NaN               NaN  22.0   1

   W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID      PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  \
0    1629614  Andrew Nembhard   Andrew      NaN               NaN  24.0   1

   W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0     203952  Andrew Wiggins   Andrew      NaN               NaN  29.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID      PLAYER_NAME  NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  \
0    1629014  Anfernee Simons  Anfernee      NaN               NaN  25.0   1

   W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID    PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1641710  Anthony Black  Anthony      NaN               NaN  20.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1641810  Antonio Reeves  Antonio      NaN               NaN  21.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID  PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1630245  Ayo Dosunmu      Ayo      NaN               NaN  24.0   1  0  1

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID  PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1628389  Bam Adebayo      Bam      NaN               NaN  27.0   1  0  1

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID   PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1641767  Ben Sheppard      Ben      NaN               NaN  23.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID  PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1627732  Ben Simmons      Ben      NaN               NaN  28.0   1  0  1

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID         PLAYER_NAME   NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  \
0    1631097  Bennedict Mathurin  Bennedict      NaN               NaN  22.0

   GP  W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0   1  1  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID   PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1626171  Bobby Portis    Bobby      NaN               NaN  29.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID        PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  \
0     203992  Bogdan Bogdanović   Bogdan      NaN               NaN  32.0   1

   W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID   PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0     203078  Bradley Beal  Bradley      NaN               NaN  31.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID         PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  \
0    1641764  Brandin Podziemski  Brandin      NaN               NaN  21.0

   GP  W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0   1  1  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1629634  Brandon Clarke  Brandon      NaN               NaN  28.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1627742  Brandon Ingram  Brandon      NaN               NaN  27.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1641706  Brandon Miller  Brandon      NaN               NaN  21.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID       PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  \
0    1641729  Brice Sensabaugh    Brice      NaN               NaN  21.0   1

   W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID  PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0     201572  Brook Lopez    Brook      NaN               NaN  36.0   1  1  0

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID     PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1628981  Bruno Fernando    Bruno      NaN               NaN  26.0   1  0

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID  PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1627741  Buddy Hield    Buddy      NaN               NaN  31.0   1  1  0

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID  PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0     203468  CJ McCollum       CJ      NaN               NaN  33.0   1  1  0

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID      PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  \
0    1630595  Cade Cunningham     Cade      NaN               NaN  23.0   1

   W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID    PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1631216  Caleb Houstan    Caleb      NaN               NaN  21.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID   PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1628997  Caleb Martin    Caleb      NaN               NaN  29.0   1  0

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  L  \
0    1630560  Cam Thomas      Cam      NaN               NaN  23.0   1  0  1

   W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID   PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1641715  Cam Whitmore      Cam      NaN               NaN  20.0   1  0

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID      PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  \
0    1629661  Cameron Johnson  Cameron      NaN               NaN  28.0   1

   W  L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0  1    0.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID   PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1627747  Caris LeVert    Caris      NaN               NaN  30.0   1  1

   L  W_PCT  ...  DIST_MILES_DEF  AVG_SPEED  AVG_SPEED_OFF  DIST_MILES  \
0  0    1.0  ...             NaN        NaN            NaN         NaN

   AVG_SPEED_DEF  MIN1  DIST_FEET  index  HTM  VTM
0            NaN   NaN        NaN    NaN  NaN  NaN

[1 rows x 438 columns]
   PLAYER_ID    PLAYER_NAME NICKNAME  TEAM_ID TEAM_ABBREVIATION   AGE  GP  W  \
0    1628449  Chris Boucher    Chris      NaN               NaN  31.0   1  0


IndexError: single positional indexer is out-of-bounds