In [2]:
import pandas as pd
import requests
import os
from nba_api.stats.static import teams
import io

def get_dates(start_year=2025, end_year=2026):
    dates = []
    for year in range(start_year, end_year):
        for team in teams.get_teams():
            team_id = team['id']
            path = f'../../shot_data/team/{year}ps/{team_id}.csv'
            if os.path.exists(path):
                try:
                    df = pd.read_csv(path)
                    required_cols = {'TEAM_ID', 'HTM', 'VTM', 'GAME_DATE', 'GAME_ID'}
                    if required_cols.issubset(df.columns):
                        df = df[['TEAM_ID', 'HTM', 'VTM', 'GAME_DATE', 'GAME_ID']]
                        df['year'] = year
                        df.drop_duplicates(inplace=True)
                        dates.append(df)
                except Exception:
                    continue
    return pd.concat(dates).drop_duplicates(subset='GAME_ID') if dates else pd.DataFrame()

def fetch_team_game_csvs(dateframe, save_dir='team_game_data'):
    if not os.path.exists(save_dir):
        os.makedirs(save_dir)
    all_game_data = []
    for _, row in dateframe.iterrows():
        year = int(row['year'])
        game_id = row['GAME_ID']
        url = f'https://raw.githubusercontent.com/gabriel1200/player_sheets/refs/heads/master/teamgame_report/games/{year}/{game_id}.csv'
        try:
            response = requests.get(url, timeout=10)
            response.raise_for_status()
            if len(response.text.strip()) == 0:
                continue
            df = pd.read_csv(io.StringIO(response.text))
            df['GAME_ID'] = game_id
            df['date'] = row['GAME_DATE']
            df['HTM'] = row['HTM']
            df['VTM'] = row['VTM']
            df['year'] = year
            all_game_data.append(df)
            with open(os.path.join(save_dir, f'{year}_{game_id}.csv'), 'w', encoding='utf-8') as f:
                f.write(response.text)
        except Exception:
            print('failed')
            continue
    return pd.concat(all_game_data, ignore_index=True) if all_game_data else pd.DataFrame()

def process_and_save_team_series_data(df):
    df.rename(columns={'GAME_DATE': 'date'}, inplace=True)
    home = df[df.HTM == df.TEAM_ABBREVIATION].copy()
    away = df[df.VTM == df.TEAM_ABBREVIATION].copy()
    none = df[df.HTM.isna()].copy().reset_index(drop=True)

    home.drop(columns='HTM', inplace=True)
    home.rename(columns={'VTM': 'opp_team'}, inplace=True)
    away.drop(columns='VTM', inplace=True)
    away.rename(columns={'HTM': 'opp_team'}, inplace=True)

    home.drop_duplicates(inplace=True)
    away.drop_duplicates(inplace=True)

    frames = [home, away]
    if not none.empty:
        frames.append(none)

    df = pd.concat(frames, ignore_index=True)
    df.dropna(subset=['opp_team'], inplace=True)

    df['team'] = df['TEAM_ABBREVIATION']
    teammap = dict(zip(df['TEAM_ABBREVIATION'], df['TEAM_ID']))
    df['opp_id'] = df['opp_team'].map(teammap)
    df.sort_values(by='date', inplace=True)

    df['series_key'] = df['team'] + '_' + df['opp_team'] + '_' + df['year'].astype(str)

    # Save series index
    series_index = df[['series_key', 'team', 'opp_team', 'TEAM_ID', 'opp_id', 'year']].drop_duplicates()
    series_index_path = 'series_index_teams.csv'
    if os.path.exists(series_index_path):
        existing = pd.read_csv(series_index_path)
        combined = pd.concat([existing, series_index], ignore_index=True)
        combined.drop_duplicates(subset=['series_key', 'team', 'TEAM_ID', 'opp_team', 'opp_id', 'year'], inplace=True)
        combined.to_csv(series_index_path, index=False)
    else:
        series_index.to_csv(series_index_path, index=False)

    # Save each series
    series_dir = '../series/team'
    os.makedirs(series_dir, exist_ok=True)
    for key, group in df.groupby('series_key'):
        safe_key = key.replace('/', '-').replace('\\', '-')
        group.to_csv(os.path.join(series_dir, f'{safe_key}.csv'), index=False)
    return df

def run_team_series_pipeline(start_year=2024, end_year=2025):
    dates = get_dates(start_year, end_year)
    print(dates)
    if dates.empty:
        return None
    raw_df = fetch_team_game_csvs(dates)
    if raw_df.empty:
        return None
    return process_and_save_team_series_data(raw_df)

if __name__ == "__main__":
    for year in range(2025, 2026):
        run_team_series_pipeline(year, year + 1)

        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612737  ATL  BKN   20150419  41400101  2015
79   1610612737  ATL  BKN   20150422  41400102  2015
169  1610612737  BKN  ATL   20150425  41400103  2015
259  1610612737  BKN  ATL   20150427  41400104  2015
354  1610612737  ATL  BKN   20150429  41400105  2015
..          ...  ...  ...        ...       ...   ...
336  1610612757  MEM  POR   20150429  41400175  2015
0    1610612761  TOR  WAS   20150418  41400131  2015
92   1610612761  TOR  WAS   20150421  41400132  2015
172  1610612761  WAS  TOR   20150424  41400133  2015
271  1610612761  WAS  TOR   20150426  41400134  2015

[81 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612737  ATL  BOS   20160416  41500131  2016
86   1610612737  ATL  BOS   20160419  41500132  2016
168  1610612737  BOS  ATL   20160422  41500133  2016
254  1610612737  BOS  ATL   20160424  41500134  2016
353  1610612737  ATL  BOS   20160426  41500135  2016
..          ...  ...  ...        ...       ...   ...
389  1610612759  SAS  OKC   20160502  41500232  2016
483  1610612759  OKC  SAS   20160506  41500233  2016
559  1610612759  OKC  SAS   20160508  41500234  2016
644  1610612759  SAS  OKC   20160510  41500235  2016
732  1610612759  OKC  SAS   20160512  41500236  2016

[86 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612737  WAS  ATL   20170416  41600131  2017
78   1610612737  WAS  ATL   20170419  41600132  2017
157  1610612737  ATL  WAS   20170422  41600133  2017
246  1610612737  ATL  WAS   20170424  41600134  2017
336  1610612737  WAS  ATL   20170426  41600135  2017
..          ...  ...  ...        ...       ...   ...
76   1610612759  SAS  MEM   20170417  41600152  2017
137  1610612759  MEM  SAS   20170420  41600153  2017
209  1610612759  MEM  SAS   20170422  41600154  2017
306  1610612759  SAS  MEM   20170425  41600155  2017
386  1610612759  MEM  SAS   20170427  41600156  2017

[79 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612738  BOS  MIL   20180415  41700111  2018
94   1610612738  BOS  MIL   20180417  41700112  2018
184  1610612738  MIL  BOS   20180420  41700113  2018
264  1610612738  MIL  BOS   20180422  41700114  2018
351  1610612738  BOS  MIL   20180424  41700115  2018
..          ...  ...  ...        ...       ...   ...
77   1610612761  TOR  WAS   20180417  41700102  2018
164  1610612761  WAS  TOR   20180420  41700103  2018
246  1610612761  WAS  TOR   20180422  41700104  2018
325  1610612761  TOR  WAS   20180425  41700105  2018
407  1610612761  WAS  TOR   20180427  41700106  2018

[82 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612738  BOS  IND   20190414  41800131  2019
77   1610612738  BOS  IND   20190417  41800132  2019
161  1610612738  IND  BOS   20190419  41800133  2019
242  1610612738  IND  BOS   20190421  41800134  2019
320  1610612738  MIL  BOS   20190428  41800201  2019
..          ...  ...  ...        ...       ...   ...
0    1610612757  POR  OKC   20190414  41800161  2019
86   1610612757  POR  OKC   20190416  41800162  2019
176  1610612757  OKC  POR   20190419  41800163  2019
259  1610612757  OKC  POR   20190421  41800164  2019
349  1610612757  POR  OKC   20190423  41800165  2019

[82 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612738  BOS  PHI   20200817  41900121  2020
90   1610612738  BOS  PHI   20200819  41900122  2020
176  1610612738  PHI  BOS   20200821  41900123  2020
263  1610612738  PHI  BOS   20200823  41900124  2020
345  1610612738  TOR  BOS   20200830  41900211  2020
..          ...  ...  ...        ...       ...   ...
352  1610612749  MIL  ORL   20200829  41900105  2020
0    1610612751  TOR  BKN   20200817  41900111  2020
92   1610612751  TOR  BKN   20200819  41900112  2020
177  1610612751  BKN  TOR   20200821  41900113  2020
267  1610612751  BKN  TOR   20200823  41900114  2020

[83 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612737  NYK  ATL   20210523  42000131  2021
90   1610612737  NYK  ATL   20210526  42000132  2021
174  1610612737  ATL  NYK   20210528  42000133  2021
255  1610612737  ATL  NYK   20210530  42000134  2021
337  1610612737  NYK  ATL   20210602  42000135  2021
..          ...  ...  ...        ...       ...   ...
0    1610612762  UTA  MEM   20210523  42000141  2021
81   1610612762  UTA  MEM   20210526  42000142  2021
171  1610612762  MEM  UTA   20210529  42000143  2021
252  1610612762  MEM  UTA   20210531  42000144  2021
337  1610612762  UTA  MEM   20210602  42000145  2021

[85 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612737  MIA  ATL   20220417  42100101  2022
75   1610612737  MIA  ATL   20220419  42100102  2022
162  1610612737  ATL  MIA   20220422  42100103  2022
242  1610612737  ATL  MIA   20220424  42100104  2022
317  1610612737  MIA  ATL   20220426  42100105  2022
..          ...  ...  ...        ...       ...   ...
84   1610612755  PHI  TOR   20220418  42100132  2022
153  1610612755  TOR  PHI   20220420  42100133  2022
227  1610612755  TOR  PHI   20220423  42100134  2022
307  1610612755  PHI  TOR   20220425  42100135  2022
388  1610612755  TOR  PHI   20220428  42100136  2022

[87 rows x 6 columns]
        TEAM_ID  HTM  VTM  GAME_DATE   GAME_ID  year
0    1610612737  BOS  ATL   20230415  42200111  2023
98   1610612737  BOS  ATL   20230418  42200112  2023
199  1610612737  ATL  BOS   20230421  42200113  2023
290  1610612737  ATL  BOS   20230423  42200114  2023
388  1610612737  BOS  ATL   20230425  42200115  2023
..          ...  ...  ...        ...       ...   ...
882  1610612748  MIA  NYK   20230512  42200206  2023
0    1610612751  PHI  BKN   20230415  42200121  2023
70   1610612751  PHI  BKN   20230417  42200122  2023
150  1610612751  BKN  PHI   20230420  42200123  2023
229  1610612751  BKN  PHI   20230422  42200124  2023

[84 rows x 6 columns]
         TEAM_ID  HTM  VTM GAME_DATE   GAME_ID  year
0     1610612738  BOS  MIA  20240421  42300101  2024
82    1610612738  BOS  MIA  20240424  42300102  2024
162   1610612738  MIA  BOS  20240427  42300103  2024
244   1610612738  MIA  BOS  20240429  42300104  2024
330   1610612738  BOS  MIA  20240501  42300105  2024
...          ...  ...  ...       ...       ...   ...
705   1610612752  IND  NYK  20240510  42300213  2024
785   1610612752  IND  NYK  20240512  42300214  2024
874   1610612752  NYK  IND  20240514  42300215  2024
975   1610612752  IND  NYK  20240517  42300216  2024
1057  1610612752  NYK  IND  20240519  42300217  2024

[82 rows x 6 columns]
         TEAM_ID  HTM  VTM GAME_DATE   GAME_ID  year
0     1610612738  BOS  ORL  20250420  42400111  2025
82    1610612738  BOS  ORL  20250423  42400112  2025
162   1610612738  ORL  BOS  20250425  42400113  2025
236   1610612738  ORL  BOS  20250427  42400114  2025
314   1610612738  BOS  ORL  20250429  42400115  2025
...          ...  ...  ...       ...       ...   ...
1367  1610612754  OKC  IND  20250605  42400401  2025
0     1610612760  OKC  MEM  20250420  42400141  2025
99    1610612760  OKC  MEM  20250422  42400142  2025
203   1610612760  MEM  OKC  20250424  42400143  2025
289   1610612760  MEM  OKC  20250426  42400144  2025

[78 rows x 6 columns]